html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: space-around;
    align-items: center;

    position: relative;
}

span.fullscreen {
    display: flex;
    justify-content: space-around;
    align-items: center;

    animation: 0.4s fs forwards ease-in;
}

@keyframes fs {
    0% {
        width: 6em;
        height: 6em;
        border-radius: 50%;
        background: transparent;
    }
    50% {
        background: black;
    }
    75% {
        width: 100%;
        height: 100%;
    }
    100% {
        width: 100%;
        height: 100%;
        border-color: black;
        border-radius: 0;
        background: black;
    }
}

button {
    width: 6em;
    height: 6em;

    border-radius: 50%;
    border: solid 3px rgba(255, 0, 0, 0.5);
    background: transparent;

    font-size: 2em;

    cursor: pointer;

    /*transition:
        width 0.3s,
        height 0.3s,
        border-radius 0.4s ease-in,
        background 0.2s,
        border-color 0.4s;*/
}

button:focus,
button:hover {
    outline: none;
    border-color: red;
}

button.fullscreen {
    border: none;

    border-radius: 0;
    background: transparent;
}
