.container {
    width: 580px;
}

.viewer {
    height: 300px;

    background: transparent no-repeat;
    background-size: auto 1600%;
}

.range {
    width: 100%;
    padding: 0;
    margin: 0;
}
